node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
dist
**/dist
.git
.env
.env.local
**/.env.local
*.tsbuildinfo
coverage
.expo
**/.expo
.local
**/.local
**/.env
**/.env.*
**/.auth
**/playwright-report
**/test-results
**/android
**/ios
**/*.keystore
**/*.jks
**/*.p12
**/*.pem
**/*.key
